<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <h4 mat-display-2 >Here Is More To Explore</h4>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button mat-icon-button class="sideNavList-toggler-btn" color="warn" (click)="showFiller = !showFiller">
      <mat-icon>add</mat-icon>
    </button>
  </mat-drawer>

  <div class="sideNav-toggler-btn">
    <button mat-mini-fab color="primary" (click)="drawer.toggle()"><mat-icon>add</mat-icon></button>
  </div>
</mat-drawer-container>
